.custom {
    width: 139px;
    height: 55px;
    top: -4081px;
    left: -3200px;
    border-radius: 10px;
    border: 1px solid #000; /* add color */
    position: absolute; /* required when using top/left */
}
