
    .frame-container {
      position: relative;
      width: 300px;
      height: 300px;
    }

    .frame-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    /* Overlapping frames */
    .border1, .border2, .border3 {
      position: absolute;
      top: 25px;
      left: 20px;
      right: 40px;
      pointer-events: none;
      box-sizing: border-box;
      border: 5px solid;

    }

    .border1 {
      border-color: #00ffff;
      transform: rotate(2deg) scale(1.03);
      z-index: 2;
      top: 22px;
      left: 15px;
      width: 95%;
      height: 93%;
    }

    .border2 {
      border-color: #ff00ff;
      transform: rotate(-2deg) scale(1.03);
      top: 17px;
      left: 11px;
      width: 96.5%;
      height: 95%;
    }

    .border3 {
      border-color: #0000ff;
      transform: rotate(0deg);
      z-index: 4;
      width: 93.5%;
      height: 91.5%;
    }

    .border4, .border5, .border6 {
      position: absolute;
      top: 25px;
      left: 20px;
      right: 40px;
      pointer-events: none;
      box-sizing: border-box;
      border: 5px solid;

    }

    .border4 {
      border-color: #00ffff;
      transform: rotate(2deg) scale(1.03);
      z-index: 2;
      top: 11px;
      left: 8px;
      width: 94%;
      height: 93%;
    }

    .border5{
      border-color: #ff00ff;
      transform: rotate(-2deg) scale(1.03);
      top: 6px;
      left: 10px;
      width: 93%;
      height: 96%;
    }

    .border6 {
      border-color: #0000ff;
      transform: rotate(0deg);
      z-index: 4;
      left: 15px;
      top: 17px;
      width: 91%;
      height: 91.5%;
    }
    .title-line {
  font-size: 3rem;
  text-align: center;
  flex-wrap: wrap;
  gap: 8px;
}

.firstH1{
    color: #CDCDCD;
}
.secondH1,
.thirdH1 {
  font-weight: 700;
  color: #aaa;
}

.tricolorgradient {
  background: linear-gradient(90deg, #00c6ff, #0072ff, #a200ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.green-dot {
  color: #6CC727;
  background: none;
  -webkit-text-fill-color: #6CC727;
}


.space {
  display: inline-block;
  width: 12px; /* space between words */
}
.title-line {
  font-size: 3rem;
  text-align: center;
  flex-wrap: wrap;
  gap: 8px;
}

.firstH1{
    color: #CDCDCD;
}
.secondH1,
.thirdH1 {
  font-weight: 700;
  color: #aaa;
}

.tricolorgradient {
  background: linear-gradient(90deg, #00c6ff, #0072ff, #a200ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.green-dot {
  color: #6CC727;
  background: none;
  -webkit-text-fill-color: #6CC727;
}


.space {
  display: inline-block;
  width: 12px; /* space between words */
}
